src/main/wsdl/WokSearchLite.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://woksearchlite.v3.wokmws.thomsonreuters.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://woksearch.v3.wokmws.thomsonreuters.com" name="WokSearchLiteService" targetNamespace="http://woksearchlite.v3.wokmws.thomsonreuters.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://woksearchlite.v3.wokmws.thomsonreuters.com" targetNamespace="http://woksearchlite.v3.wokmws.thomsonreuters.com" version="1.0">
<xs:element name="AuthenticationException" type="tns:AuthenticationException"/>
<xs:element name="ESTIWSException" type="tns:ESTIWSException"/>
<xs:element name="InternalServerException" type="tns:InternalServerException"/>
<xs:element name="InvalidInputException" type="tns:InvalidInputException"/>
<xs:element name="QueryException" type="tns:QueryException"/>
<xs:element name="SessionException" type="tns:SessionException"/>
<xs:element name="retrieve" type="tns:retrieve"/>
<xs:element name="retrieveById" type="tns:retrieveById"/>
<xs:element name="retrieveByIdResponse" type="tns:retrieveByIdResponse"/>
<xs:element name="retrieveResponse" type="tns:retrieveResponse"/>
<xs:element name="search" type="tns:search"/>
<xs:element name="searchResponse" type="tns:searchResponse"/>
<xs:complexType name="retrieve">
    <xs:sequence>
      <xs:element name="queryId" type="xs:string"/>
      <xs:element name="retrieveParameters" type="tns:retrieveParameters"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="retrieveParameters">
    <xs:sequence>
      <xs:element name="firstRecord" type="xs:int"/>
      <xs:element name="count" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sortField" nillable="true" type="tns:sortField"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sortField">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="sort" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="retrieveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:searchResults"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="queryId" type="xs:string"/>
      <xs:element name="recordsFound" type="xs:int"/>
      <xs:element name="recordsSearched" type="xs:long"/>
      <xs:element minOccurs="0" name="parent" type="tns:liteRecord"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="records" nillable="true" type="tns:liteRecord"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="liteRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="title" nillable="true" type="tns:labelValuesPair"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="doctype" nillable="true" type="tns:labelValuesPair"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="source" nillable="true" type="tns:labelValuesPair"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="authors" nillable="true" type="tns:labelValuesPair"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="keywords" nillable="true" type="tns:labelValuesPair"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="other" nillable="true" type="tns:labelValuesPair"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="labelValuesPair">
    <xs:sequence>
      <xs:element minOccurs="0" name="label" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="value" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="SessionException">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultInformation" type="tns:FaultInformation"/>
      <xs:element minOccurs="0" name="rawFaultInformation" type="tns:RawFaultInformation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="FaultInformation">
    <xs:sequence>
      <xs:element name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="reason" type="xs:string"/>
      <xs:element minOccurs="0" name="causeType" type="xs:string"/>
      <xs:element minOccurs="0" name="cause" type="xs:string"/>
      <xs:element minOccurs="0" name="supportingWebServiceException" type="tns:SupportingWebServiceException"/>
      <xs:element minOccurs="0" name="remedy" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="SupportingWebServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="remoteNamespace" type="xs:string"/>
      <xs:element minOccurs="0" name="remoteOperation" type="xs:string"/>
      <xs:element minOccurs="0" name="remoteCode" type="xs:string"/>
      <xs:element minOccurs="0" name="remoteReason" type="xs:string"/>
      <xs:element minOccurs="0" name="handshakeCauseId" type="xs:string"/>
      <xs:element minOccurs="0" name="handshakeCause" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="RawFaultInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="rawFaultstring" type="xs:string"/>
      <xs:element minOccurs="0" name="rawMessage" type="xs:string"/>
      <xs:element minOccurs="0" name="rawReason" type="xs:string"/>
      <xs:element minOccurs="0" name="rawCause" type="xs:string"/>
      <xs:element minOccurs="0" name="rawRemedy" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="messageData" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="AuthenticationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultInformation" type="tns:FaultInformation"/>
      <xs:element minOccurs="0" name="rawFaultInformation" type="tns:RawFaultInformation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="InvalidInputException">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultInformation" type="tns:FaultInformation"/>
      <xs:element minOccurs="0" name="rawFaultInformation" type="tns:RawFaultInformation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ESTIWSException">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultInformation" type="tns:FaultInformation"/>
      <xs:element minOccurs="0" name="rawFaultInformation" type="tns:RawFaultInformation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="InternalServerException">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultInformation" type="tns:FaultInformation"/>
      <xs:element minOccurs="0" name="rawFaultInformation" type="tns:RawFaultInformation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="QueryException">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultInformation" type="tns:FaultInformation"/>
      <xs:element minOccurs="0" name="rawFaultInformation" type="tns:RawFaultInformation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="search">
    <xs:sequence>
      <xs:element name="queryParameters" type="tns:queryParameters"/>
      <xs:element name="retrieveParameters" type="tns:retrieveParameters"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="queryParameters">
    <xs:sequence>
      <xs:element name="databaseId" type="xs:string"/>
      <xs:element name="userQuery" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="editions" nillable="true" type="tns:editionDesc"/>
      <xs:element minOccurs="0" name="symbolicTimeSpan" type="xs:string"/>
      <xs:element minOccurs="0" name="timeSpan" type="tns:timeSpan"/>
      <xs:element name="queryLanguage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editionDesc">
    <xs:sequence>
      <xs:element name="collection" type="xs:string"/>
      <xs:element name="edition" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="timeSpan">
    <xs:sequence>
      <xs:element name="begin" type="xs:string"/>
      <xs:element name="end" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:searchResults"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="retrieveById">
    <xs:sequence>
      <xs:element name="databaseId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="uid" type="xs:string"/>
      <xs:element name="queryLanguage" type="xs:string"/>
      <xs:element name="retrieveParameters" type="tns:retrieveParameters"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="retrieveByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:searchResults"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://woksearch.v3.wokmws.thomsonreuters.com" xmlns:ns0="http://woksearchlite.v3.wokmws.thomsonreuters.com" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://woksearch.v3.wokmws.thomsonreuters.com">
  <xsd:element name="SessionException" nillable="true" type="ns0:SessionException"/>
  <xsd:element name="AuthenticationException" nillable="true" type="ns0:AuthenticationException"/>
  <xsd:element name="InvalidInputException" nillable="true" type="ns0:InvalidInputException"/>
  <xsd:element name="ESTIWSException" nillable="true" type="ns0:ESTIWSException"/>
  <xsd:element name="InternalServerException" nillable="true" type="ns0:InternalServerException"/>
  <xsd:element name="QueryException" nillable="true" type="ns0:QueryException"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="SessionException_Exception">
    <wsdl:part element="ns1:SessionException" name="SessionException_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="tns:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveByIdResponse">
    <wsdl:part element="tns:retrieveByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AuthenticationException_Exception">
    <wsdl:part element="ns1:AuthenticationException" name="AuthenticationException_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part element="tns:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidInputException_Exception">
    <wsdl:part element="ns1:InvalidInputException" name="InvalidInputException_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ESTIWSException_Exception">
    <wsdl:part element="ns1:ESTIWSException" name="ESTIWSException_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieve">
    <wsdl:part element="tns:retrieve" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InternalServerException_Exception">
    <wsdl:part element="ns1:InternalServerException" name="InternalServerException_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryException_Exception">
    <wsdl:part element="ns1:QueryException" name="QueryException_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveById">
    <wsdl:part element="tns:retrieveById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
    <wsdl:part element="tns:retrieveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WokSearchLite">
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:retrieve" name="retrieve">
    </wsdl:input>
      <wsdl:output message="tns:retrieveResponse" name="retrieveResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SessionException_Exception" name="SessionException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:AuthenticationException_Exception" name="AuthenticationException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidInputException_Exception" name="InvalidInputException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:ESTIWSException_Exception" name="ESTIWSException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:InternalServerException_Exception" name="InternalServerException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:QueryException_Exception" name="QueryException_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:search" name="search">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse" name="searchResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SessionException_Exception" name="SessionException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:AuthenticationException_Exception" name="AuthenticationException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidInputException_Exception" name="InvalidInputException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:ESTIWSException_Exception" name="ESTIWSException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:InternalServerException_Exception" name="InternalServerException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:QueryException_Exception" name="QueryException_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveById">
      <wsdl:input message="tns:retrieveById" name="retrieveById">
    </wsdl:input>
      <wsdl:output message="tns:retrieveByIdResponse" name="retrieveByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SessionException_Exception" name="SessionException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:AuthenticationException_Exception" name="AuthenticationException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidInputException_Exception" name="InvalidInputException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:ESTIWSException_Exception" name="ESTIWSException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:InternalServerException_Exception" name="InternalServerException_Exception">
    </wsdl:fault>
      <wsdl:fault message="tns:QueryException_Exception" name="QueryException_Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WokSearchLiteServiceSoapBinding" type="tns:WokSearchLite">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrieve">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retrieve">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionException_Exception">
        <soap:fault name="SessionException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException_Exception">
        <soap:fault name="AuthenticationException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException_Exception">
        <soap:fault name="InvalidInputException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException_Exception">
        <soap:fault name="ESTIWSException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalServerException_Exception">
        <soap:fault name="InternalServerException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="QueryException_Exception">
        <soap:fault name="QueryException_Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionException_Exception">
        <soap:fault name="SessionException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException_Exception">
        <soap:fault name="AuthenticationException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException_Exception">
        <soap:fault name="InvalidInputException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException_Exception">
        <soap:fault name="ESTIWSException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalServerException_Exception">
        <soap:fault name="InternalServerException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="QueryException_Exception">
        <soap:fault name="QueryException_Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retrieveById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionException_Exception">
        <soap:fault name="SessionException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException_Exception">
        <soap:fault name="AuthenticationException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException_Exception">
        <soap:fault name="InvalidInputException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException_Exception">
        <soap:fault name="ESTIWSException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalServerException_Exception">
        <soap:fault name="InternalServerException_Exception" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="QueryException_Exception">
        <soap:fault name="QueryException_Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WokSearchLiteService">
    <wsdl:port binding="tns:WokSearchLiteServiceSoapBinding" name="WokSearchLitePort">
      <soap:address location="http://search.webofknowledge.com/esti/wokmws/ws/WokSearchLite"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>